.container {
  border-top: 1px solid var(--lightBlack);
  padding-bottom: 20rem;
}

.top {
  border-bottom: 1px solid var(--blueBorder);
}

.topLeft {
  grid-column: span 1;
  height: 100%;
  border-right: 1px solid var(--blueBorder);
}

.topRight,
.heading {
  grid-column: span 3;
  padding: 2rem;
  /* padding-bottom: 20rem; */
}

.middle {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.middleLeft {
  border-right: 1px solid var(--blue);
}

.heading {
  padding: 2rem;
  font-size: 5rem;
  text-transform: uppercase;
  text-indent: 4em;
  letter-spacing: -0.7px;
  line-height: 1.1;
  font-weight: 600;
}

.sectionTitle {
  color: var(--blue);
  border-bottom: 1px solid var(--blueBorder);
  text-align: center;
  font-size: 1.8rem;
  font-family: var(--GTAmericaMonoRegular);
  text-transform: uppercase;
  padding: 2rem;
  display: flex;
  width: 100%;
}

.bottom {
  display: grid;
  border-top: 1px solid var(--blueBorder);
  border-bottom: 1px solid var(--blueBorder);
  grid-template-columns: repeat(4, 1fr);
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10rem;
  border: 1px solid var(--lightBlack);
  padding: 2rem;
  position: relative;
  border-right: 1px solid var(--blueBorder);
}

.card:nth-child(4) {
  background-color: var(--blue);
}

.card:nth-child(4) h3,
.card:nth-child(4) span,
.card:nth-child(4) p {
  color: var(--tan);
}

.index {
  font-size: 15rem;
  font-family: var(--barlowCondensed);
}

.feature {
  font-size: 3rem;
  font-style: normal;
  font-weight: 600;
  margin-bottom: 2rem;
  font-family: var(--barlowCondensed);
  text-transform: uppercase;
}

.desc {
  color: var(--blue);
  font-family: var(--GTAmericaMonoRegular);
}

@media screen and (max-width: 968px) {
  .top,
  .middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 100%;
  }

  .top {
    /* border-top: none; */
    padding: 3rem;
  }

  .topLeft {
    border-top: 1px solid var(--blueBorder);
    border-bottom: 1px solid var(--blueBorder);
    border-right: none;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--blue);
  }

  .topRight {
    padding-bottom: 5rem;
    display: none;
  }

  .middleLeft {
    /* display: none; */
    /* background-color: red; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .sectionTitle {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .bottom {
    grid-template-columns: repeat(2, 1fr);
    border-bottom: none;
  }

  .card {
    border-bottom: 1px solid var(--blueBorder);
  }
}

@media screen and (max-width: 768px) {
  .heading {
    text-indent: 0em;
  }
}

@media screen and (max-width: 568px) {
  .bottom {
    grid-template-columns: repeat(1, 1fr);
  }

  .heading {
    font-size: 4rem;
  }
  .card {
    align-items: center;
    justify-content: center;
    border-right: none;
    gap: 5rem;
    padding-bottom: 5rem;
  }

  .desc {
    text-align: center;
  }

  .feature {
    text-align: center;
    width: 100%;
  }
}
