.container {
  border-top: 1px solid var(--lightBlack);
  background-image: repeating-linear-gradient(
    45deg,
    var(--blue),
    var(--tan) 1px,
    transparent 0,
    transparent 50%
  );
  background-size: 6px 6px;
}

.topLeft {
  grid-column: span 1;
  height: 100%;
  border-right: 1px solid var(--blueBorder);
}

.middle {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border-top: 1px solid var(--blue);
  border-right: 1px solid var(--blue);
}

.heading {
  grid-column: span 3;
  padding: 2rem;
}

.middleLeft {
  border-right: 1px solid var(--blue);
}

.heading {
  padding: 2rem;
  font-size: 3rem;
  text-indent: 4em;
  letter-spacing: -0.7px;
  line-height: 1.1;
  font-weight: 600;
  background-color: var(--tan);
}

.sectionTitle {
  color: var(--tan);
  background-color: var(--blue);
  border-bottom: 1px solid var(--blueBorder);
  text-align: center;
  font-size: 1.8rem;
  font-family: var(--GTAmericaMonoRegular);
  text-transform: uppercase;
  padding: 2rem;
  display: flex;
  width: 100%;
}

.bottom {
  display: grid;
  border-top: 1px solid var(--blueBorder);
  border-bottom: 1px solid var(--blueBorder);
  grid-template-columns: repeat(4, 1fr);
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10rem;
  padding: 2rem;
  position: relative;
  border-right: 1px solid var(--blueBorder);
  background-color: var(--tan);
}

.card:nth-child(4) {
  background-color: var(--blue);
}

.card:nth-child(4) h3,
.card:nth-child(4) span,
.card:nth-child(4) p {
  color: var(--tan);
}

.indexContainer {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--blue);
  background-image: repeating-linear-gradient(
    45deg,
    var(--blue),
    var(--tan) 1px,
    transparent 0,
    transparent 50%
  );
  background-size: 6px 6px;
}

.index {
  font-size: 5rem;
  font-family: var(--barlowCondensed);
}

.card:nth-child(4) .indexContainer {
  border: 1px solid var(--tan);
}

.feature {
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  margin-bottom: 2rem;
  font-family: var(--barlowCondensed);
  text-transform: uppercase;
}

.desc {
  color: var(--blue);
  font-family: var(--GTAmericaMonoRegular);
  letter-spacing: -1px;
}

@media screen and (max-width: 968px) {
  .middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .middleLeft {
    width: 100%;
  }

  .heading {
    border-left: 1px solid var(--blue);
  }

  .sectionTitle {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .bottom {
    grid-template-columns: repeat(2, 1fr);
    border-bottom: none;
  }

  .card {
    border-bottom: 1px solid var(--blueBorder);
  }

  .card:nth-child(1),
  .card:nth-child(3) {
    border-left: 1px solid var(--blue);
  }
}

@media screen and (max-width: 768px) {
  .heading {
    text-indent: 0em;
  }
}

@media screen and (max-width: 668px) {
  .bottom {
    grid-template-columns: repeat(1, 1fr);
  }

  .card {
    align-items: center;
    justify-content: center;
    border-right: none;
    gap: 5rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    border-left: 1px solid var(--blue);
    border-right: 1px solid var(--blue);
  }

  .desc {
    text-align: center;
  }

  .feature {
    text-align: center;
    width: 100%;
  }
}
