.container {
  border-top: 1px solid var(--blue);
  padding-bottom: 20rem;
}

.content,
.topContent {
  display: grid;
  grid-template-columns: 2fr 1.5fr 1fr;
  border-bottom: 1px solid var(--blueBorder);
}

.mainHeading {
  font-size: 3rem;
  padding: 1.5rem;
  text-transform: uppercase;
  border-right: 1px solid var(--blueBorder);
}

.box {
  border-right: 1px solid var(--blueBorder);
  position: relative;
}

.heading {
  text-transform: uppercase;
  padding: 1.5rem;
  border-bottom: 1px solid var(--blueBorder);
}

.listBox {
  padding: 2rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.8rem;
}

.listItem {
  color: var(--blue);
  font-family: var(--GTAmericaMonoRegular);
  font-size: 1.6rem;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: -0.2px;
}

.listItem:hover {
  text-decoration: underline;
}

.link {
  font-family: var(--GTAmericaMonoRegular);
  color: var(--tan);
  text-transform: uppercase;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 2rem;
  background-color: var(--blue);
  width: 100%;
  border-top: 1px solid var(--blue);
  letter-spacing: -0.5px;
  transition: all 0.2s ease-in;
}

.link:hover .icon {
  color: var(--blue);
  transition: all 0.2s ease-in;
}

.link:hover {
  background-color: var(--tan);
  color: var(--blue);
  transition: all 0.2s ease-in;
}

.icon {
  width: 2rem;
  height: 2rem;
  color: var(--tan);
}

.imgContainer {
  position: relative;
  width: 100%;
  height: 400px;
}

.img {
  object-fit: cover;
  border: 1px solid var(--blue);
}

@media screen and (max-width: 968px) {
  .mainHeading {
    text-align: center;
  }

  .topContent {
    grid-template-columns: repeat(1, 1fr);
  }

  .content {
    grid-template-columns: repeat(2, 1fr);
  }

  .imgContainer {
    grid-column: 1 / -1;
  }

  .box:nth-child(1) {
    order: -1;
    grid-column: 1 / -1;
    border-bottom: 1px solid var(--blueBorder);
  }

  .box:nth-child(1) .heading {
    display: none;
  }
}

@media screen and (max-width: 568px) {
  .content {
    grid-template-columns: repeat(1, 1fr);
  }

  .readBox {
    position: relative;
  }
}
