.container {
  padding-bottom: 20rem;
  background-image: repeating-linear-gradient(
    45deg,
    var(--blue),
    var(--tan) 1px,
    transparent 0,
    transparent 50%
  );
  background-size: 6px 6px;
}

.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-top: 1px solid var(--blueBorder);
  border-bottom: 1px solid var(--blueBorder);
}

.left {
  border-right: 1px solid var(--blueBorder);
}

.list {
  list-style: none;
  padding: 0;
  display: grid;
}

.name {
  font-size: 2rem;
  color: var(--blue);
  background-color: var(--tan);
  font-family: var(--GTAmericaMonoRegular);
  text-transform: uppercase;
  border-bottom: 1px solid var(--blueBorder);
  border-right: 1px solid var(--tan);
  cursor: pointer;
  padding: 1rem 2rem;
  transition: all 0.2s ease-in;
}

.name:nth-child(1) {
  padding-top: 2rem;
}

.name:nth-child(18) {
  border-bottom: none;
}

.name:hover {
  background-color: var(--blue);
  color: var(--tan);
}

.right {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  min-height: 200px;
  background-color: var(--blue);
}

.icon {
  width: 200px;
  height: 200px;
  color: var(--tan);
  transition: all 0.3s ease-in;
}

.placeholder {
  font-size: 1.6rem;
  text-transform: uppercase;
  color: var(--gray);
  font-family: var(--GTAmericaMonoRegular);
  color: var(--blue);
}

@media screen and (max-width: 568px) {
  .content {
    grid-template-columns: repeat(1, 1fr);
  }

  .left {
    padding: 3rem 0rem;
  }

  .name {
    cursor: default;
  }

  .name:nth-child(18) {
    border-bottom: 1px solid var(--blueBorder);
  }

  .icon {
    width: 100px;
    height: 100px;
  }
}
