.logoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.span {
  font-family: var(--EduSocialCondensedMedium);
  font-size: 2rem;
  white-space: nowrap;
}

.logo {
  width: 2rem;
  height: 2rem;
  color: var(--blue);
}
