.logoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.span {
  font-family: var(--barlowCondensed);
  font-size: 2.5rem;
  white-space: nowrap;
}

.logo {
  width: 2.5rem;
  height: 2.5rem;
  color: var(--blue);
}
