/* .container {
  background-image: repeating-linear-gradient(
    45deg,
    var(--blue),
    var(--tan) 1px,
    transparent 0,
    transparent 50%
  );
  background-size: 6px 6px;
} */

.sectionTitle {
  color: var(--blue);
  font-size: 1.8rem;
  font-family: var(--GTAmericaMonoRegular);
  text-transform: uppercase;
  background-color: var(--tan);
  padding: 1rem;
  border: 1px solid var(--blue);
}

.content {
  border: 1px solid var(--blueBorder);
  display: grid;
  grid-template-columns: 1fr 1.5fr 2fr;
  margin-bottom: 13rem;
}


.box {
  border-right: 1px solid var(--blueBorder);
  position: relative;
  background-color: var(--tan);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.boxTop {
  width: 100%;
}

.box:nth-child(3) {
  border-right: none;
}

.heading {
  text-transform: uppercase;
  padding: 1.5rem;
  border-bottom: 1px solid var(--blueBorder);
  width: 100%;
  background-color: var(--blue);
  color: var(--tan);
  border-right: 1px solid var(--tan);
}

.box:nth-child(3) .heading {
  border-right: none;
}

.title {
  font-family: var(--GTAmericaMonoRegular);
  background-color: var(--tan);
  padding: 1rem;
  margin: 1rem;
  letter-spacing: -1px;
  font-size: 1.4rem;
}

.listBox {
  padding: 2rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1rem;
  background-color: var(--tan);
  padding: 1rem;
  margin: 1rem;
}

.listItem {
  color: var(--blue);
  font-family: var(--GTAmericaMonoRegular);
  font-size: 1.4rem;
  text-transform: uppercase;
}

.link,
.linkii {
  font-family: var(--barlowCondensed);
  font-size: 2.5rem;
  color: var(--tan);
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  padding: 2rem;
  background-color: var(--blue);
  border: 1px solid var(--blue);
  border-right: none;
  border-bottom: none;
  width: 100%;
  transition: all 0.2s ease-in;
  letter-spacing: -0.5px;
  position: relative;
}

.linkii {
  background-color: var(--tan);
  color: var(--blue);
  border-left: none;
  border-left: 1px solid var(--tan);
}

.link:hover .icon {
  color: var(--blue);
  transition: all 0.2s ease-in;
}

.link:hover {
  background-color: var(--tan);
  color: var(--blue);
  transition: all 0.2s ease-in;
}

.linkii:hover {
  background-color: var(--blue);
  color: var(--tan);
  transition: all 0.2s ease-in;
  border-left: 1px solid var(--tan);
}

.linkii:hover .iconii {
  color: var(--tan);
  transition: all 0.2s ease-in;
}

.icon,
.iconii {
  width: 2.5rem;
  height: 2.5rem;
  color: var(--tan);
}

.iconii {
  color: var(--blue);
}

.imgParent {
  padding: 2rem;
  width: 100%;
}

.imgContainer {
  position: relative;
  width: 100%;
  height: 400px;
}

.img {
  object-fit: cover;
  border: 1px solid var(--blue);
}

@media screen and (max-width: 968px) {
  .mainHeading {
    text-align: center;
  }

  .topContent {
    grid-template-columns: repeat(1, 1fr);
  }

  .content {
    grid-template-columns: repeat(2, 1fr);
  }

  .imgContainer {
    grid-column: 1 / -1;
    width: 100%;
  }

  .box:nth-child(3) {
    order: -1;
    grid-column: 1 / -1;
    border-bottom: 1px solid var(--blueBorder);
  }

  .box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }

  .box:nth-child(3) .heading {
    text-align: center;
  }

  .link {
    position: relative;
  }
}

@media screen and (max-width: 568px) {
  .heading {
    text-align: center;
    font-size: 2.5rem;
  }

  .link,
  .linkii {
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    letter-spacing: 0px;
  }

  .readBox {
    position: relative;
  }

  .box:nth-child(1) {
    order: 2;
  }
  .box:nth-child(1) .heading {
    border: 1px solid var(--blue);
  }

  .imgContainer {
    height: 300px;
  }
}
