.container {
  background-color: var(--green);
}

.copy {
  color: var(--blue);
  hyphens: auto;
  font-size: 1.3rem;
  margin-top: 3rem;
  padding-bottom: 7rem;
  font-family: var(--GTAmericaMonoRegular);
  text-align: center;
}

.headingii {
  font-size: 17vw;
  line-height: 0.85;
  letter-spacing: -6px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
  font-family: var(--barlowCondensed);
  padding-top: 5rem;
  white-space: nowrap;
}

@media screen and (max-width: 768px) {
  .headingii {
    letter-spacing: -2px;
  }
}

@media screen and (max-width: 568px) {
  .headingii {
    font-size: 17vw;
  }
}
